APP_NAME=Meduzzen FastAPI Best Practice
ENV=dev
DEBUG=True
SECRET_KEY=change_me

LOG_LEVEL=INFO
LOG_DIR=logs

CORS_ORIGINS=["*"]

POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+asyncpg://appuser:change_me@db:5432/appdb

REDIS_URL=redis://redis:6379/0

HOST=0.0.0.0
PORT=8000
RELOAD=false

JWT_SECRET=dev-secret-change-me
JWT_ALG=HS256
JWT_ISS=local

JWT_REFRESH_SECRET=dev-refresh-secret-change-me
JWT_REFRESH_ALG=HS256
JWT_REFRESH_EXPIRES_MIN=10080

JWT_EXPIRES_MIN=60
JWT_REFRESH_SECRET=dev-secret-change-me
JWT_REFRESH_EXPIRES_DAYS=7

AUTH0_DOMAIN=dev-h21k1w78osfzuvra.us.auth0.com
AUTH0_AUDIENCE=https://be-1.api
AUTH0_ISSUER=https://dev-h21k1w78osfzuvra.us.auth0.com/
AUTH0_EMAIL_CLAIM=https://be-1-api/email
AUTH0_ALG=RS256
AUTH0_JWKS_CACHE_SECONDS=600
