APP_NAME=FastAPI Best Practice
ENV=dev              # dev | test | prod
DEBUG=True
LOG_LEVEL=DEBUG

SECRET_KEY=change_me_locally

DATABASE_URL=postgresql+psycopg://user:pass@localhost:5432/mydb

HOST=127.0.0.1
PORT=8000
