APP_NAME=FastAPI Best Practice
ENV=dev              # dev | test | prod
DEBUG=True
LOG_LEVEL=DEBUG

SECRET_KEY=change_me_locally

POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
DATABASE_URL=postgresql+asyncpg://appuser:apppass@db:5432/appdb

CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

REDIS_URL=redis://redis:6379/0
